<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>KinderNet</title>
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>


  <div class="container">

    <p id="loss"> </p>

    <p id="ej0" style="color:red"> </p>
    <p id="ej1" style="color:blue"> </p>
    <p id="ej2" style="color:green"> </p>

    <p id="pred"></p>
    
    <div class="row">
      <div class="column">
	<video autoplay style="width:80%"></video>
	<canvas id="snapshot" width=320 height=240></canvas>
	<!-- <img src={{input_img}} style="width:80%"> -->
      </div>
      <div class="column">
	<img src={{network_img}} style="width:100%">
      </div>
      <div class="column">
	<div class="row">
	  <div class="keys">
	    {% for class in range(nclases | int) %}
	    <div data-key={{class+49}} class="key">
	      <kbd>{{class+1}}</kbd>
	    </div>
	    {% endfor %}
	    {% for class in range(nclases | int) %}
	    <audio data-key={{class+49}} src="static/sounds/tink.wav"></audio>
	    {% endfor %}
	  </div>
	</div>
	
      </div>
    </div>

    <div class="row">
      <div class="controls">
	<div class="column">
	  <div data-key="90" class="key">
	    <kbd>2 clases</kbd>
	  </div>
	  <audio data-key="90" src="static/sounds/tink.wav"></audio>
	</div>
	<div class="column">
	  <div data-key="88" class="key">
	    <kbd>3 clases</kbd>
	  </div>
	  <audio data-key="88" src="static/sounds/tink.wav"></audio>
	</div>
	<div class="column">
	  <div data-key="67" class="key">
	    <kbd>Clasificar</kbd>
	  </div>
	  <audio data-key="67" src="static/sounds/tink.wav"></audio>
	</div>

      </div>
    </div>
  </div>
  
  
  <script src="static/app.js"></script>


</body>
</html>
