.App {
  text-align: center;
}

.Webcam{
  border: 2px solid;
  borderRadius: 10px;
  object-fit: none;
  width: 350px;
  height: 350px;
}


.output {
  background-color: white;
  border: 2px solid #4CAF50;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 4px;
  transition-duration: .2s;
}

.outputOn {
  border: 2px solid #4CAF50;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 4px;
  color: white;
  background-color: #4CAF50;
  transition-duration: .2s;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

